# git ignores for chdkr.
.DS_Store
# directories created by the C compiler on Mac OS X.
*.dSYM/
# Suffixes of files generated during the build process.
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.fmt
*.dvi
*.grm.run
*.grm.txt
*.hrf
*.idx
*.inc
*.ldd
*.lof
*.log
*.lot
*.o
*.out
*.pdf
*.polydb
*.ps
*.sig
*.synctex.gz
*.tch
*.th
*.th.doc
*.thl.doc
*.thy.doc
*.theories
*.toc
*.ttd
# Archives of various kinds
*.tar
*.tgz
*.zip
*~

# Exclude VS Code workspace files (temporary)
*.code-workspace